*
{
font-family:verdana;
color:white;
}
body
{
background-image:url("img/home.jpg");
background-size:cover;
}

ul {
 font-family:verdana;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
nav ul
{
marign-top:-50px;
}

li a {
  margin-left: 100px;
   display: block;
   text-align: center;
   padding: 14px 15px;
   text-decoration: none;
   font-size: large;
color:white;
font-weight: bold;
font-family: verdana;
}

li a:hover {
  background-color: #111;
color:white;
}
hr
{
margin:10px;
}
footer
{
color:black;
font-size:20px;
text-align:center;
}
p
{
 line-height:1.8;
}
